body{
  background-color: blue;
}
.text1{
  border-style: dashed;
  border-color: green;
  color: red;
  margin-left: 15px;
  margin-right: 15px;

}
.lab4{
  border-style: solid;
  margin: 100px 150px 250px 150px
}

img{
  width: 150px;
  height: 300px;
  border-style: dashed;
  border-color: yellow;
  padding: 15px;
}
